/* label focus color */
.input-field input[type=text]:focus + label {
  color: #1e88e5;
}
/* label underline focus color */
.input-field input[type=text]:focus {
  border-bottom: 1px solid #1e88e5;
  box-shadow: 0 1px 0 0 #1e88e5;
}
/* valid color */
.input-field input[type=text].valid {
  border-bottom: 1px solid #1e88e5;
  box-shadow: 0 1px 0 0 #1e88e5;
}
/* icon prefix focus color */
.input-field .prefix.active {
  color: #1e88e5;
}

input:not([type]):focus:not([readonly])+label, input[type=text]:not(.browser-default):focus:not([readonly])+label, input[type=password]:not(.browser-default):focus:not([readonly])+label, input[type=email]:not(.browser-default):focus:not([readonly])+label, input[type=url]:not(.browser-default):focus:not([readonly])+label, input[type=time]:not(.browser-default):focus:not([readonly])+label, input[type=date]:not(.browser-default):focus:not([readonly])+label, input[type=datetime]:not(.browser-default):focus:not([readonly])+label, input[type=datetime-local]:not(.browser-default):focus:not([readonly])+label, input[type=tel]:not(.browser-default):focus:not([readonly])+label, input[type=number]:not(.browser-default):focus:not([readonly])+label, input[type=search]:not(.browser-default):focus:not([readonly])+label, textarea.materialize-textarea:focus:not([readonly])+label {
  color: #1e88e5
}

input:not([type]):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]), input[type=url]:not(.browser-default):focus:not([readonly]), input[type=time]:not(.browser-default):focus:not([readonly]), input[type=date]:not(.browser-default):focus:not([readonly]), input[type=datetime]:not(.browser-default):focus:not([readonly]), input[type=datetime-local]:not(.browser-default):focus:not([readonly]), input[type=tel]:not(.browser-default):focus:not([readonly]), input[type=number]:not(.browser-default):focus:not([readonly]), input[type=search]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #1e88e5;
  -webkit-box-shadow: 0 1px 0 0 #1e88e5;
  box-shadow: 0 1px 0 0 #1e88e5;
}

.card-title {
  text-shadow: 0px 0px 4px rgb(0, 0, 0);
}

.dropdown-content li>a, .dropdown-content li>span {
  color: #1e88e5
}

#progress_container {
  height: 4px;
}